CONTAINER_TIMEZONE=Asia/Jakarta
WEBAPP_BASEURL=/
JUDGEDAEMON_PASSWORD=<enter the password for judge daemon>
# DOMSERVER_BASEURL=http://xxx.xxx.xxx.xxx -> add this, if working on different compute engine.